# Data Science Tools and Ecosystem

## Author
Alex Sherman

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
 - List popular languages for Data Science
 - List commonly used libraries for Data Science
 - Provide a table of Data Science Environment Tools
 - Provide examples of common arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. In Python, numpy, pandas, and scikit-learn
2. In R, ggplot, gally, and caret

Data Science Tools
--- |
Jupyter Notebook
RStudio
Spyder

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335